/* Base Styles */

* {
  box-sizing: border-box;
  }

  body {
  font-family: 'Indie Flower';
  margin: 0 auto;
  text-align: center;
  background-color: white;
  color: blue;
}
a {
 text-decoration: none;
 color: black;
}

footer {
 background-color: #4ea3af;
}

p {
 font-size: 19px;
 margin: 15px 15px;
}

h3 {
 font-size: 22px;
}
div {
 background-color: rgb(207, 202, 203);
}

.main-header .container {
 background-color: #4ea3af;
 margin: 15px 15px;

}

.menu,
.name {
 margin: 0px;
}
.menu {
 padding-bottom: 15px;
 padding-left: 0px;
}
.name {
 padding: 20px 0px;
}
.wrapper {
 margin-top: 50px;
}
img.student-picture {
 padding-top: 20px;
 max-width: 100%;
}

.menu a,
.footer-navbar a {
 text-transform: uppercase;
 text-align: center;
 display: block;
 padding: 10px 10px;
 color: black;
}

.name a {
 display: block;
 color: black;
}

.name a:hover {
 color: black;
}

.menu a:hover,
.back a:hover {
 text-shadow: 2px 2px 15px rgb(43, 187, 183);
 color: white;
}
#portfolio {
  text-align: center;
}

.portfolio-pic {
 width: 100%;
 margin-bottom: 20px;
}
.contact {
 padding: 15px 0px;
 background-color: #D7D9CE;
}
.contact h2 {
 text-transform: uppercase;
}

.footer-section,
.back {
 display: inline-block;
 padding: 10px;
}

.footer-navbar {
 display: none;
}
ul {
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
 .container {
   width: 90%;
   margin: 0 auto;
 }
 .menu {
   padding: 20px 15px;
 }

 .name {
   padding-left: 15px;
 }

 .name,
 .menu li {
   display: inline-block;
 }

 .portfolio-box p {
   padding: 0px 5px 10px 5px;
   height: 90px;
 }

 img.student-picture {
   display: block;
   padding-right: 15px;
   float: right;
   width: 300px;
 }

 .back {
   display: none;
 }
 .portfolio-box {
   width: calc(51% - 15px);
   padding-left: 10px;
   float: left;
 }

 .footer-navbar a:hover {
   text-shadow: 2px 2px 15px #ffff00;
   color: white;
 }

 .footer-section {
   display: block;
   padding: 0 0 0 20px;
   float: left;
 }
 .footer-navbar {
   display: block;
   float: right;
   margin-top: 15px;
 }

 .footer-navbar li {
   float: left;
 }
 .clearfix::after {
   display: table;
   clear: both;
 }
}

@media (min-width: 1024px) {
 .container{
   width: 80%;
   max-width: 1200px;
   margin: 0 auto;
 }

 .menu {
   float: right;
   padding: 20px 15px;
 }

 .name {
   padding-left: 15px;
 }

 .name,
 .menu li {
   float: left;
 }

 .portfolio-box {
   width: calc(33.8% - 10px);
   float: left;
   padding-left: 10px;
 }

 .portfolio-box p {
   padding: 0px 5px 10px 5px;
   height: 90px;
 }
 .about {
   text-align: left;
   padding-top: 0px;
 }
 .about p{
   margin-top: 0px;
   padding: 80px 10px 0px 20px;
 }

 img.student-picture {
   display: block;
   width: 300px;
   float: right;
   margin: 10px;
   padding: 10px;
 }

 .back {
   display: none;
 }

 .footer-navbar a:hover {
   text-shadow: 2px 2px 15px #ffff00;
   color: white;
 }

 .footer-section {
   display: block;
   padding: 0 0 0 20px;
   float: left;
 }
 .footer-navbar {
   display: block;
   float: right;
   margin-top: 15px;
 }

 .footer-navbar li {
   float: left;
 }
}
